#############
## SECRETS ##
#############


# Glofas FTp access
GLOFAS_USER=<fill-in>
GLOFAS_PW=<fill-in>
GLOFAS_FTP=<fill-in>

# 510 Datalack secrets not mandatory
DATALAKE_STORAGE_ACCOUNT_NAME = <fill-in>
DATALAKE_STORAGE_ACCOUNT_KEY = <fill-in>
DATALAKE_STORAGE_ENDPOINT = <fill-in>

DATALAKE_STORAGE_ACCOUNT_NAME_IBFSYSTEM = <fill-in>
DATALAKE_STORAGE_ACCOUNT_KEY_IBFSYSTEM = <fill-in>
DATALAKE_API_VERSION = <fill-in>


DATALAKE_STORAGE_IBFSYSTEM_ENDPOINT = <fill-in>
