
#############
## SECRETS ##
#############

IBF_URL=<fill-in>
IBF_PASSWORD=<fill-in>

DATALAKE_STORAGE_ACCOUNT_NAME = <fill-in>
DATALAKE_STORAGE_ACCOUNT_KEY = <fill-in>
DATALAKE_API_VERSION = <fill-in>


# API-service access
ADMIN_LOGIN = <fill-in>

# Glofas FTp access
GLOFAS_USER=<fill-in>
GLOFAS_PW=<fill-in>