##################
## RUN SETTINGS ##
##################
 
UGA_URL=<fill-in>
ZMB_URL=<fill-in>
ETH_URL=<fill-in>
KEN_URL=<fill-in>
UGA_PASSWORD=<fill-in>
ZMB_PASSWORD=<fill-in>
ETH_PASSWORD=<fill-in>
KEN_PASSWORD=<fill-in>


#############
## SECRETS ##
#############

# Data access
GOOGLE_DRIVE_DATA_URL = <fill-in>

# API-service access
ADMIN_LOGIN = <fill-in>

# Glofas FTp access
GLOFAS_USER=<fill-in>
GLOFAS_PW=<fill-in>