name: run-phl_flood-model

on:
  workflow_dispatch:
env:
   ADMIN_LOGIN: ${{ secrets.ADMIN_LOGIN }}
   GLOFAS_PW: ${{ secrets.GLOFAS_PW }}
   GLOFAS_USER: ${{ secrets.GLOFAS_USER }}
   IBF_URL: ${{ secrets.IBF_API_URL }}
   IBF_PASSWORD: ${{ secrets.IBF_PASSWORD }}
   DATALAKE_STORAGE_ACCOUNT_NAME: ${{ secrets.DATALAKE_STORAGE_ACCOUNT_NAME }}
   DATALAKE_STORAGE_ACCOUNT_KEY: ${{ secrets.DATALAKE_STORAGE_ACCOUNT_KEY }}
   DATALAKE_API_VERSION: ${{ secrets.DATALAKE_API_VERSION }}
  
jobs:
  run-flood-model:
    runs-on: ubuntu-latest 
    env:
      running-directory: ./pipeline
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Set up Python 3.x
        uses: actions/setup-python@v2
        with:
          python-version: '3.7'
        
      - name: Install system dependencies1
        run: |
           sudo apt-get update
           sudo apt-get install -y \
             software-properties-common \
             build-essential \
             nano \
             vim \
             python3-pip \
             git \
             wget \
             libxml2-utils\
             libproj-dev \
             libgeos-dev \
             libspatialindex-dev \
             libudunits2-dev \
             libspatialindex-dev \
             libssl-dev \
             libgdal-dev \
             libxml2-utils\
             gfortran \
             kmod \
             gfortran \
             apache2
         
      - name: Install system dependencies2
        run: |
           sudo add-apt-repository ppa:ubuntugis/ppa
           sudo apt-get update
           sudo apt-get install -y postgresql postgresql-contrib  
           sudo apt-get install -y libproj-dev libgeos++-dev
           sudo apt-get install -y gdal-bin 
           sudo apt-get install -y libgdal-dev
           sudo apt-get install libgnutls28-dev


         
      - name: Install system dependencies
        run: |
           sudo apt-get update
           sudo apt-get install -y \
             libgirepository1.0-dev\
             gcc\
             pkg-config\
             python3-dev\
             gir1.2-gtk-3.0
  
         
      - name: Install more Python dependencies
        run: |  
           python -m pip install -r requirements.txt
        
      - name: Install script
        run: |
           python -m pip install .
        working-directory: ${{ env.running-directory }}
      
      - name: Run script
        env:
           ADMIN_LOGIN: ${{ secrets.ADMIN_LOGIN }}
           GLOFAS_PW: ${{ secrets.GLOFAS_PW }}
           GLOFAS_USER: ${{ secrets.GLOFAS_USER }}
           #IBF_URL: ${{ secrets.IBF_API_URL }}
           IBF_PASSWORD: ${{ secrets.IBF_PASSWORD }}
           DATALAKE_STORAGE_ACCOUNT_NAME: ${{ secrets.DATALAKE_STORAGE_ACCOUNT_NAME }}
           DATALAKE_STORAGE_ACCOUNT_KEY: ${{ secrets.DATALAKE_STORAGE_ACCOUNT_KEY }}
           #DATALAKE_API_VERSION: ${{ secrets.DATALAKE_API_VERSION }}      
        run: |
           run-flood-model
        working-directory: ${{ env.running-directory }}

